.imghacker{
    width: 800px;
    height: auto;
}
.imgFiltracio{
    width: 800px;
    height: 500px;
}

div {
    margin: 0 20px;
}
table tr,th,td{
   border:2px solid black;
   ;
}
table{
    width:100% ;
   margin:30px 0 
}