.ResumenesGTA,
.ResumenesPS5,
.ResumenesEstrenos {
    overflow: auto;
}

div {
    margin: 0 20px;
}

.ResumenesGTA img,
.ResumenesPS5 img,
.ResumenesEstrenos img {
    float: left;
    width: 20%;
    margin: 0 20px 10px 0;
}

h1 {
    text-align: center;
    color: var(--header-color);
    font-size: 2rem;
}